.weather_icon{
  position: relative;
  cursor: pointer;
}
.weather_icon::before{
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1px 3px;
  border-radius: 3px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.3s;
}
.weather_icon:hover::before{
  opacity: 1;
  transition: 0.3s;
}